<%- include("partials/header") %>

<h1><%= campground.name %></h1>

<img src="<%= campground.image %>" alt="">
<p><%= campground.description %></p>

<a href="/campgrounds">Back to Campgrounds</a>

<%- include("partials/footer") %>
